{% extends "incidents_nsir/base_nsir.html" %}

{% load i18n %}
{#{% load bootstrap_tags %}#}

{% block head_title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
    <h3>{% trans "Forgot Your Password?" %}</h3>
    <ul>
        <li style="margin-bottom:10px">Enter your departmental email address below (associated with your SaILS account)</li>
        <li style="margin-bottom:10px">Click the button below to receive an email link to change your password</li>
        <li style="margin-bottom:10px">A complete tutorial for resetting your password is <a href="http://172.26.66.41/depdocs/node/2513">available on DepDocs.</a></li>
    </ul>
    <br>
    <form action="" method="post">{% csrf_token %}
    {{ form.email.errors }}
    <span>
        <label for="id_email"><b>{% trans 'Email address:' %}</b></label> {{ form.email }} <br>
        <br>
        <button class="btn btn-primary pull-left my-shader" type="submit">{% trans 'Reset your password' %}</button>
    </span>
    </form>
    <br><br>

    <p>{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
